.GreenScreen {
    width: 80%;
    height: 40%;
    border-radius: 0.4rem;
    border: solid black 2px;
    background-color: #3ab47d;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column-start: 2;
    align-self: center;
    justify-self: center;
  }
  #name-screen {
    width: 100%;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    font-size: 1rem;
    overflow-wrap: break-word;
  }