.lights-container {
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
  }
  .left-svg {
    position: absolute;
    z-index: +5;
  }
  .big{
  &-light{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: solid black;
    &-boarder{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 5px;
        height: 60px;
        width: 60px;
        border: solid black;
        border-radius: 50%;
        background-color: white;
        }
    }
    &-dot{
        height: 15px;
        width: 15px;
        position: relative;
        top: 7px;
        left: 10px;
        border-radius: 50%;
    }
  }
  .small-lights-container {
    margin-left: 15px;
    margin-top: 10px;
    width: 70px;
    height: 100%;
    display: flex;
    align-self: start;
    justify-content: space-around;
  }
  .small-light {
    border: solid black;
    width: 16px;
    height: 16px;
    border-radius: 50%;
  }
  .dot {
    height: 5px;
    width: 5px;
    position: relative;
    top: 3px;
    left: 3px;
    border-radius: 50%;
  }